# Godot 4+ specific ignores
.godot/
/android/
LICENSE
addons/godot_super-wakatime/api_key_prompt.tscn
addons/godot_super-wakatime/counter.tscn
addons/godot_super-wakatime/decompressor.gd
addons/godot_super-wakatime/decompressor.gd.uid
addons/godot_super-wakatime/godot_super-wakatime.gd
addons/godot_super-wakatime/godot_super-wakatime.gd.uid
addons/godot_super-wakatime/heartbeat.gd
addons/godot_super-wakatime/heartbeat.gd.uid
addons/godot_super-wakatime/plugin.cfg
addons/godot_super-wakatime/README.md
addons/godot_super-wakatime/utils.gd
addons/godot_super-wakatime/utils.gd.uid
images/godotwaka.png
images/godotwaka.png.import
images/godotwaka2.png
images/godotwaka2.png.import
images/icon.jpg
images/icon.jpg.import
exports/linux/SP13_linux_0_8_4_0/SP13.x86_64
exports/web/SP13_web_0_8_4_0.zip
exports/web/SP13_web_0_8_4_0/index.apple-touch-icon.png
exports/web/SP13_web_0_8_4_0/index.apple-touch-icon.png.import
exports/web/SP13_web_0_8_4_0/index.audio.position.worklet.js
exports/web/SP13_web_0_8_4_0/index.audio.worklet.js
exports/web/SP13_web_0_8_4_0/index.html
exports/web/SP13_web_0_8_4_0/index.icon.png
exports/web/SP13_web_0_8_4_0/index.icon.png.import
exports/web/SP13_web_0_8_4_0/index.js
exports/web/SP13_web_0_8_4_0/index.pck
exports/web/SP13_web_0_8_4_0/index.png
exports/web/SP13_web_0_8_4_0/index.png.import
exports/web/SP13_web_0_8_4_0/index.wasm
exports/windows/SP13.exe
exports/windows/SS13beta2.exe
exports/linux/SP13_linux_0_8_4_1/SP13.x86_64
exports/web/SP13_web_0_8_4_1.zip
exports/web/SP13_web_0_8_4_1/index.apple-touch-icon.png
exports/web/SP13_web_0_8_4_1/index.apple-touch-icon.png.import
exports/web/SP13_web_0_8_4_1/index.audio.position.worklet.js
exports/web/SP13_web_0_8_4_1/index.audio.worklet.js
exports/web/SP13_web_0_8_4_1/index.html
exports/web/SP13_web_0_8_4_1/index.icon.png
exports/web/SP13_web_0_8_4_1/index.icon.png.import
exports/web/SP13_web_0_8_4_1/index.js
exports/web/SP13_web_0_8_4_1/index.pck
exports/web/SP13_web_0_8_4_1/index.png
exports/web/SP13_web_0_8_4_1/index.png.import
exports/web/SP13_web_0_8_4_1/index.wasm
exports/windows/SP13_windows_0_8_4_0/SP13.exe
exports/windows/SP13_windows_0_8_4_1/SP13.exe
exports/linux/SP13_1.8.4.1.x86_64
exports/macos/SP13_1.8.4.1.zip
exports/macos/SP13_macos_0_8_4_1/SP13.zip
exports/web/SP13_web_1.8.4.1.zip
exports/web/SP13_web_1.8.4.1/index.apple-touch-icon.png
exports/web/SP13_web_1.8.4.1/index.apple-touch-icon.png.import
exports/web/SP13_web_1.8.4.1/index.audio.position.worklet.js
exports/web/SP13_web_1.8.4.1/index.audio.worklet.js
exports/web/SP13_web_1.8.4.1/index.html
exports/web/SP13_web_1.8.4.1/index.icon.png
exports/web/SP13_web_1.8.4.1/index.icon.png.import
exports/web/SP13_web_1.8.4.1/index.js
exports/web/SP13_web_1.8.4.1/index.pck
exports/web/SP13_web_1.8.4.1/index.png
exports/web/SP13_web_1.8.4.1/index.png.import
exports/web/SP13_web_1.8.4.1/index.wasm
exports/windows/SP13_1.8.4.1.exe
